[package]
name = "turing"
version = "0.6.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib", "rlib"]

[[bench]]
name = "ffi_api_bench"
harness = false

[dependencies]
anyhow = "1.0.100"
ffi = "0.1.1"
glam = "0.30.8"
serde_json = "1.0.145"
wasmtime = "39.0.1"
wasmtime-wasi = "39.0.1"
wat = "1.239.0"
tokio = "1.48.0"
slotmap = "1"
num_enum = "0.7.5"
smallvec = "1"
parking_lot = "0.12.5"

[dev-dependencies]
wasmprinter = "0.243.0"
serial_test = "3.2.0"
criterion = "0.8"
