name: CI Build and Release

on:
    push:
        branches:
            - master
        tags:
            - "v*"
    pull_request:
    workflow_dispatch:

jobs:
    build:
        name: Test and build (Windows)
        runs-on: windows-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal
                  override: true

            - name: Show Rust version
              run: rustc --version
              
            - name: Install wasm32-wasip1 target
              run: rustup target add wasm32-wasip1

            - name: Run xtask tests
              run: cargo x t

            - name: Run xtask Windows release build
              run: cargo x w

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: turing-windows
                  path: dist/*
    publish:
        name: Publish release
        needs: build
        runs-on: ubuntu-latest
        if: startsWith(github.ref, 'refs/tags/')

        steps:
            - name: Download Windows artifact
              uses: actions/download-artifact@v4
              with:
                  name: turing-windows
                  path: dist

            - name: Create GitHub Release and upload binaries
              uses: softprops/action-gh-release@v1
              with:
                  files: dist/*
